body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f0;
    color: #2d3c2d;
}

.header {
    background-color: #3a5a40; /* Dark green */
    color: white;
    padding: 16px 0;
}

.section-light {
    background-color: #dad7cd; /* Light gray-green */
    padding: 3rem 0;
}

.section-dark {
    background-color: #f0f4f0; /* Light green */
    padding: 3rem 0;
}

.cta-section {
    background-color: #3a5a40; /* Dark green */
    color: white;
    padding: 3rem 0;
}

.footer {
    background-color: #2d3c2d; /* Darker green */
    color: white;
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

nav ul {
    list-style: none; /* Removes the default list bullets */
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the text color */
    transition: color 0.3s; /* Smooth color change on hover */
}

nav a:hover {
    color: #588157; /* Hover color */
}

.text-center {
    text-align: center;
}

.main-heading {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.sub-heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #a3b18a;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 9999px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #588157;
}

.image-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.main-image {
    width: 75%;
    max-width: 600px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 4rem;
    color: #3a5a40;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.flex-item {
    flex-basis: 30%;
    max-width: 300px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.footer-links a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #a3b18a;
}

.social-icons a {
    color: white;
    font-size: 2rem;
    margin: 0 1rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #a3b18a;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-text i {
    color: red;
    margin-left: 0.5rem;
}
